{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>

</head>

<body>
  {% block staticFiles %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <main>
    {% if user.is_authenticated %}
    <div id="navbar">
      <p>Hi {{ user.username }}!</p>
      <p><a href="{% url 'password_change' %}">Password Change</a></p>
      <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
      <a href="/">home</a>
    </div>
    {% endif %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>

</html>