<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<ul>
  {% for class in class_list %}
    <li><a href="/class/{{ class.ClassID.id }}">{{ class.ClassID.ClassName }}: {{ class.ClassID.ClassCode }}</a></li>
  {% endfor %}
</ul>

    <h2>Join Class</h2>
    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %} 
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Join Class</button>
    </form>
{% endblock %}
