<!-- templates/home.html -->

{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block staticFiles %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}

<div id="ClassList">
  <h1>Your Classes</h1>
  <ul>
    {% for class in class_list %}
       <div id="ClassItem">
        <li>
       
          <a href="/class/{{ class.ClassID.id }}">{{ class.ClassID.ClassName }}: {{ class.ClassID.ClassCode }}</a>
        
        </li>
      </div>
    {% endfor %}
  </ul>
</div>
    {% if IsTeacher %}
      <div id="CreateClass">
        <h1>Create Class</h1>
        <a href="createClass">Create new class</a>
      </div>
      <div id="CreateSubject">
        <h1>Create Subject</h1>
        <a href="createSubjects">Create new subject</a>
      </div>
    {% endif %}
    <h2>Join Class</h2>
    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %} 
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Join Class</button>
    </form>
    
{% endblock %}
