{% extends "base.html" %}


{% block title %}Logs{% endblock %}

{% block content %}

    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>User Action</th>
                <th>details</th>
            </tr>
        </thead>
        <tbody>

            {% for log in Logs %}
            <tr>
                <td>{{ log.datelogged }}</td>
                <td>{{ log.user.user.username }}</td>
                <td>{{ log.userAction }}</td>
                <td>{{ log.details }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}