{% extends "base.html" %}


{% block title %}Logs{% endblock %}

{% block content %}

    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Class: Class Code</th>
                <th>details</th>
            </tr>
        </thead>
        <tbody>


            {% for log in Logs %}
            <tr>
                <td>{{ log.date }}</td>
                <td>{{ log.user.user.username }}</td>
                <td>{{ log.classid.ClassName }}: {{ log.classid.ClassCode }}</td>
                <td>{{ log.reason }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}